<h1>Bookings</h1>

<%= form_with model: @booking do |form| %>
  From: <%= @flight.departure_airport.code %> <br>
  To: <%= @flight.arrival_airport.code%><br>
  Date: <%= @flight.start.strftime("%d %b %Y") %><br><br>
  Info Passengers:<br>
  <%= form.fields_for :passengers do |passenger_fields| %>
    <%= passenger_fields.label :name %>
    <%= passenger_fields.text_field :name %><br>
    <%= passenger_fields.label :email %>
    <%= passenger_fields.email_field :email %><br><br>
  <% end %>
  <%= form.submit %>
<% end %>
